@media screen and (max-width: 1199.98px) {
/* margins/paddings */
.m0-lg {
	margin: 0;
}
.p0-lg {
	padding: 0;
}
.mb0-lg {
	margin-bottom: 0;
}
.mb10-lg {
	margin-bottom: 10px;
}
.mb20-lg {
	margin-bottom: 20px;
}
.mb30-lg {
	margin-bottom: 30px;
}
.mb40-lg {
	margin-bottom: 40px;
}
.mb50-lg {
	margin-bottom: 50px;
}
.mb60-lg {
	margin-bottom: 60px;
}
.mb70-lg {
	margin-bottom: 70px;
}
.mb80-lg {
	margin-bottom: 80px;
}
.mb90-lg {
	margin-bottom: 90px;
}
.mb100-lg {
	margin-bottom: 100px;
}
}
 @media screen and (max-width: 991.98px) {
/* margins/paddings */
.m0-md {
	margin: 0;
}
.p0-md {
	padding: 0;
}
.mb0-md {
	margin-bottom: 0;
}
.mb10-md {
	margin-bottom: 10px;
}
.mb20-md {
	margin-bottom: 20px;
}
.mb30-md {
	margin-bottom: 30px;
}
.mb40-md {
	margin-bottom: 40px;
}
.mb50-md {
	margin-bottom: 50px;
}
.mb60-md {
	margin-bottom: 60px;
}
.mb70-md {
	margin-bottom: 70px;
}
.mb80-md {
	margin-bottom: 80px;
}
.mb90-md {
	margin-bottom: 90px;
}
.mb100-md {
	margin-bottom: 100px;
}
header .navbar-nav {
	padding: 20px 0 10px 0;
	border-bottom: 1px solid var(--black);
}
header .navbar-nav .nav-item {
	margin: 0 0 20px 0;
}
header .navbar-nav .nav-item:last-child {
	margin: 0;
}
.benefit-bl {
	padding: 0;
}
}
 @media screen and (max-width: 767.98px) {
/* margins/paddings */
.m0-sm {
	margin: 0;
}
.p0-sm {
	padding: 0;
}
.mb0-sm {
	margin-bottom: 0;
}
.mb10-sm {
	margin-bottom: 10px;
}
.mb20-sm {
	margin-bottom: 20px;
}
.mb30-sm {
	margin-bottom: 30px;
}
.mb40-sm {
	margin-bottom: 40px;
}
.mb50-sm {
	margin-bottom: 50px;
}
.mb60-sm {
	margin-bottom: 60px;
}
.mb70-sm {
	margin-bottom: 70px;
}
.mb80-sm {
	margin-bottom: 80px;
}
.mb90-sm {
	margin-bottom: 90px;
}
.mb100-sm {
	margin-bottom: 100px;
}
}
@media screen and (max-width: 575.98px) {
h1 {
	font-size: 30px;
	line-height: 36px;
}
h2 {
	font-size: 24px;
	line-height: 30px;
}
h3 {
	font-size: 20px;
	line-height: 26px;
}
h4 {
	font-size: 18px;
	line-height: 24px;
}
h5 {
	font-size: 16px;
	line-height: 22px;
}
h6 {
	font-size: 14px;
	line-height: 20px;
}
.membership-benefits .benefit-bl img {
	width: auto;
	height: 128px;
}
.swiper-text, .benefit-bl {
	padding: 0 15px !important;
}
.testimonials .swiper-button-prev, .testimonials .swiper-button-next {
	display: none;
}
.pricing-bl {	
	width: auto;
}
.pricing-plans .swiper-slide {
	width: 224px !important;
}
}
