/* ##############################
---------------------------------
FONTS
---------------------------------
############################## */

@import url('../plugins/fonts/fontawesome/css/all.min.css');
@import url('../plugins/fonts/cooperhewitt/css/cooperhewitt.css');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* ##############################
---------------------------------
COLOR
---------------------------------
############################## */

:root {
    --white: #fff;
    --black: #000;
    --primary: #e42525;
    --primary-dark: #c81414;
    --grey: #9d9fa2;
    --grey-dark: #626366;
    --grey-light1: #f1f2f2;
    --grey-light2: #f1f0ee;
    --grey-light3: #e3e4e5;
    --grey-lighter: #f9f9f9;
}


/* ##############################
---------------------------------
GLOBAL
---------------------------------
############################## */

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'CooperHewittBook', 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-size: 16px;
    line-height: 23px;
    color: var(--black);
    font-weight: 400 !important;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

a,
p,
img,
div,
ul,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
select,
hr,
header,
footer,
section,
article,
nav,
iframe {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    background: none;
    border: none;
}

a {
    color: var(--black);
    text-decoration: none;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

a:hover,
a:focus {
    color: var(--primary);
    text-decoration: none;
    outline: none !important;
}

section {
    position: relative;
    padding: 40px 0 !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-sm {
    font-size: 12px;
    line-height: 18px;
}

hr {
    height: 1px !important;
    border: none !important;
    background: var(--grey) !important;
}


/* --- margins/paddings --- */

.m0 {
    margin: 0 !important;
}

.p0 {
    padding: 0 !important;
}

.mb0 {
    margin-bottom: 0;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb60 {
    margin-bottom: 60px;
}

.mb70 {
    margin-bottom: 70px;
}

.mb80 {
    margin-bottom: 80px;
}

.mb90 {
    margin-bottom: 90px;
}

.mb100 {
    margin-bottom: 100px;
}


/* --- headings --- */

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    color: var(--black);
    font-family: 'Lato', 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-weight: 700;
    text-align: left;
    text-transform: none;
    background: none;
    border: none;
    font-smooth: always;
}

h1 {
    font-size: 36px;
    line-height: 42px;
}

h2 {
    font-size: 30px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 30px;
}

h4 {
    font-size: 20px;
    line-height: 26px;
}

h5 {
    font-size: 18px;
    line-height: 24px;
}

h6 {
    font-size: 16px;
    line-height: 22px;
}

.heading hr {
    height: 4px !important;
    width: 60px;
    margin: 5px auto 0 auto !important;
    background: var(--primary) !important;
}


/* --- buttons --- */

.btn {
    position: relative;
    display: inline-block;
    align-items: center;
    justify-content: center;
    /*width: 160px;*/
    height: 40px;
    margin: 0;
    padding: 12px 20px;
    font-family: 'Cooper Hewitt Medium', 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-size: 14px !important;
    line-height: 16px !important;
    font-weight: 400;
    text-align: center;
    white-space: pre-wrap;
    text-transform: none;
    border: none;
    background: none;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: none;
    z-index: 1;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
}

.btn:hover,
.btn:focus,
.btn.focus {
    text-decoration: none !important;
    color: var(--white);
    background: none;
    border-color: none;
}

.btn span {
    margin-left: 8px;
}

.btn-primary {
    color: var(--white) !important;
    background: var(--primary) !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
    color: var(--white) !important;
    background: var(--primary-dark) !important;
}

.btn-primary-bordered {
    padding: 10px 20px;
    color: var(--primary) !important;
    background: var(--white) !important;
    border: 2px solid var(--primary) !important;
}

.btn-primary-bordered:hover,
.btn-primary-bordered:focus,
.btn-primary-bordered.focus {
    color: var(--white) !important;
    background: var(--primary) !important;
}


/* --- header --- */

header {
    padding: 27px 0 0 0;
}

header .navbar,
header .navbar-brand {
    margin: 0;
    padding: 0;
}

header .navbar-brand img {
    width: auto;
    height: 36px;
}

header .navbar-nav {
    position: relative;
}

header .navbar-nav .nav-item .nav-link,
header .navbar-nav li.active .nav-link {
    position: relative;
    /*width: 80px;*/
    height: 40px;
    display: block !important;
    margin: 0 !important;
    padding: 15px 20px !important;
    font-size: 14px;
    line-height: 14px;
    font-family: 'Lato', 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-weight: 700;
    color: var(--black);
    text-align: center !important;
    z-index: 1;
}

header .navbar-nav .nav-item .nav-link:hover,
header .navbar-nav li.active .nav-link {
    color: var(--primary);
}

header .navbar-nav hr {
    position: absolute;
    top: 40px;
    left: 0;
    width: 0;
    height: 4px !important;
    background: var(--primary) !important;
    transition: .7s ease-in-out;
    z-index: 0;
}

header .navbar-nav .nav-item:nth-child(1):hover~hr,
header .navbar-nav li:nth-child(1).active~hr {
    margin-left: -1px;
    width: 80px;
}

header .navbar-nav .nav-item:nth-child(2):hover~hr,
header .navbar-nav li:nth-child(2).active~hr {
    margin-left: 90px;
    width: 80px;
}

header .navbar-nav .nav-item:nth-child(3):hover~hr,
header .navbar-nav li:nth-child(3).active~hr {
    margin-left: 178px;
    width: 80px;
}

header .navbar-nav .nav-item:nth-child(4):hover~hr,
header .navbar-nav li:nth-child(4).active~hr {
    margin-left: 255px;
    width: 80px;
}

header .navbar-nav .nav-item:nth-child(5):hover~hr,
header .navbar-nav li:nth-child(5).active~hr {
    margin-left: 340px;
    width: 80px;
}

header .navbar-nav .nav-item:nth-child(6):hover~hr,
header .navbar-nav li:nth-child(6).active~hr {
    margin-left: 421px;
    width: 80px;
}

header .navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: auto;
    background-color: none;
    border-radius: 0;
    outline: none;
    cursor: pointer !important;
    font-size: 30px;
}

header .navbar-toggler:focus,
header .navbar-toggler:hover {
    text-decoration: none;
    outline: none;
    color: var(--black);
}


/* --- footer --- */

footer {
    padding-top: 30px;
    font-size: 14px;
    background: var(--grey-light2) !important;
}

footer .logo img {
    width: auto;
    height: 36px;
}

footer h6 {
    font-size: 14px;
    line-height: 22px;
}

footer a i {
    color: var(--grey-dark);
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

footer a:hover i {
    color: var(--primary);
}

footer .footer-links li {
    margin-bottom: 2px;
}

footer .footer-btm {
    padding: 10px 0;
    font-size: 12px;
    line-height: 18px;
}

footer .footer-btm ul li {
    display: inline;
    margin-right: 10px;
}

footer .footer-btm ul li:last-child {
    margin-right: 0;
}

footer .footer-btm ul li i {
    font-size: 16px;
}

footer .footer-btm a {
    color: var(--grey-dark);
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

footer .footer-btm a:hover {
    color: var(--primary);
}


/* ##############################
---------------------------------
HOMEPAGE
---------------------------------
############################## */


/* --- hero swiper --- */

.hero-home {}

.hero-home .heading hr {
    margin: 5px 0 0 0 !important;
    background: #c29d63 !important;
}

.hero-home .btn-primary {
    margin-right: 30px;
}

.hero-home .swiper-slide {
    padding-bottom: 30px !important;
    background: var(--white) !important;
}

.swiper-container,
.swiper-wrapper,
.swiper-slide {
    margin: 0;
    padding: 0;
}

.swiper-pagination {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 1 !important;
}

.swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    margin: 0 5px !important;
    line-height: 8px;
    font-size: 8px !important;
    opacity: 1 !important;
    text-indent: -9999px;
    background: var(--grey-light3) !important;
    border: none !important;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -o-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.swiper-pagination-bullet-active {
    background: var(--grey) !important;
}

.hero-home .designs .img {
    width: auto;
    height: 420px;
}

.design1 .heading hr {
    background: #c29d63 !important;
}

.design1 .btn-primary-bordered {
    color: #c29d63 !important;
    background: var(--white) !important;
    border: 2px solid #d18aaa !important;
}

.design1 .btn-primary-bordered:hover,
.design1 .btn-primary-bordered:focus,
.design1 .btn-primary-bordered.focus {
    color: var(--white) !important;
    background: #d18aaa !important;
}

.design2 .heading hr {
    background: #1e6e46 !important;
}

.design2 .btn-primary-bordered {
    color: var(--black) !important;
    background: var(--white) !important;
    border: 2px solid #1e6e46 !important;
}

.design2 .btn-primary-bordered:hover,
.design2 .btn-primary-bordered:focus,
.design2 .btn-primary-bordered.focus {
    color: var(--white) !important;
    background: #1e6e46 !important;
}


/* --- featured brands --- */

.featured-brands {
    margin: 40px 0 !important;
    background: var(--grey-lighter);
}

.featured-brands img {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    opacity: .5;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.featured-brands img:hover {
    filter: none;
    -webkit-filter: none;
    opacity: 1;
}


/* --- membership benefits --- */

.membership-benefits {}

.membership-benefits .benefit-bl img {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    position: relative;
    top: 0;
}

.membership-benefits .benefit-bl:hover img {
    filter: none;
    /* IE6-9 */
    -webkit-filter: none;
    top: -5px;
}

.benefit-bl {
    padding: 0 20px;
}


/* --- testimonials --- */

.testimonials {}

.testimonials .testinomial .img {
    width: auto;
    height: 350px;
}

.testimonials .swiper-container {
    position: relative !important;
}

.testimonials .swiper-text {
    padding-left: 40px;
}

.testimonials .swiper-text .img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
    position: absolute;
    top: 50%;
    width: 41px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;
    text-align: center;
    color: var(--white);
    font-size: 30px;
    line-height: 30px;
    font-family: 'Cooper Hewitt Medium', 'Open Sans', Arial, Helvetica, sans-serif !important;
    background: #123b63;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.swiper-button-prev {
    left: 0;
    transform: rotateY(180deg) !important;
}

.swiper-button-next {
    right: 0;
}


/*.swiper-button-prev:hover, .swiper-button-next:hover {
    color: #fff;
    background: var(--primary-dark);
}*/

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 1;
}

.swiper-button-prev span,
.swiper-button-next span {
    position: relative;
    top: 1px;
}

.testimonials .swiper-pagination {
    position: relative;
    bottom: 0;
    margin: 20px 0 0 0;
}


/* classes for arrows of each project */

.testimonial-pHenchTalk .swiper-text h5 {
    color: #123b63;
}

.pHenchTalk {
    color: var(--white);
    background: #123b63;
}

.testimonial-pSummitTea .swiper-text h5 {
    color: #9b8f56;
}

.pSummitTea {
    color: var(--white);
    background: #9b8f56;
}


/* --- pricing plans --- */

.pricing-bl {
    width: 230px;
    margin: 0 auto 20px auto;
    padding: 20px 20px 0 20px;
    background: var(--grey-light1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

.pricing-bl img {
    position: relative;
    top: 10px;
    margin-top: -10px;
}

.pricing-bl ul li {
    margin-bottom: 5px;
}

.pricing-bl ul li h6 {
    font-weight: 400;
}

.pricing-bl ul li:last-child {
    margin-bottom: 0;
}

.pricing-bl .heading hr {
    margin: 0 auto 5px auto !important;
}

.pricing-bl .btn {
    position: relative;
    top: 20px;
    margin-top: -30px;
}

.pricing-plans .swiper-pagination {
    position: relative;
    bottom: 0;
    margin-top: 20px;
}

.planBox {
    height: 140px;
    margin-bottom: 20px;
}


/* ##############################
---------------------------------
OUR WORK PAGE
---------------------------------
############################## */

.our-work {
    padding-bottom: 0 !important;
}

.nav-pills {
    display: block;
    margin-bottom: 40px;
    width: 100%;
    text-align: center !important;
    border-bottom: none;
}

.nav-pills::-webkit-scrollbar {
    display: none;
    /*Safari and Chrome*/
}

.nav-pills li {
    display: inline-block;
    margin: 6px 5px;
    text-align: center !important;
}

.nav-pills .nav-link {
    padding: 14px 30px;
    font-family: 'Cooper Hewitt Medium', 'Open Sans', Arial, Helvetica, sans-serif !important;
    font-size: 16px !important;
    line-height: 18px !important;
    font-weight: 400;
    text-align: center;
    white-space: normal;
    color: var(--black) !important;
    background: var(--white) !important;
    border: 2px solid var(--grey) !important;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link.active {
    color: var(--white) !important;
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.nav-pills .logos:hover,
.nav-pills .logos.active {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.nav-pills .branding:hover,
.nav-pills .branding.active {
    background: #c29d63 !important;
    border-color: #c29d63 !important;
}

.nav-pills .website:hover,
.nav-pills .website.active {
    background: #1e6e46 !important;
    border-color: #1e6e46 !important;
}

.nav-pills .socialmedia:hover,
.nav-pills .socialmedia.active {
    background: #d596b3 !important;
    border-color: #d596b3 !important;
}

.nav-pills .flyersposters:hover,
.nav-pills .flyersposters.active {
    background: #013a65 !important;
    border-color: #013a65 !important;
}

.nav-pills .websitesapps:hover,
.nav-pills .websitesapps.active {
    background: #b91d4d !important;
    border-color: #b91d4d !important;
}

.nav-pills .prototypessketches:hover,
.nav-pills .prototypessketches.active {
    background: #f7b8af !important;
    border-color: #f7b8af !important;
}

.nav-pills .researchdiscovery:hover,
.nav-pills .researchdiscovery.active {
    background: #ff8900 !important;
    border-color: #ff8900 !important;
}

.nav-pills .photography:hover,
.nav-pills .photography.active {
    background: #923898 !important;
    border-color: #923898 !important;
}

.nav-pills .videos:hover,
.nav-pills .videos.active {
    background: #99c458 !important;
    border-color: #99c458 !important;
}

.nav-pills .businesscards:hover,
.nav-pills .businesscards.active {
    background: #4755a7 !important;
    border-color: #4755a7 !important;
}

.nav-pills .pitchdecks:hover,
.nav-pills .pitchdecks.active {
    background: #5e5d59 !important;
    border-color: #5e5d59 !important;
}

.tab-content,
.tab-pane {
    padding: 0 !important;
}

.tab-pane {
    min-height: 100px;
}

.nav {
    flex-wrap: inherit;
}

.work-item img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    box-shadow: 0 0 10px rgba(31, 29, 29, .4);
    overflow: hidden;
    transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
}

.flyersposters .work-item:hover img {
    border: 1px solid #013a65;
}